ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 40%;
    border: 1px solid blue;
    padding: 10px;
}

li {
    background-color: rgb(37, 106, 129);
    border: 1px solid lightblue;
    border-radius: 10%;
    padding: 10px;
    color: azure;
}